
/* Your CSS Code here. */
*{
	margin:0px;
	padding:0px;
}
.holder{
	width:100vw;
	display:flex;
	align-items:center;
	justify-content:space-between;
	flex-wrap:wrap;
}
.green{
	background-color:green;
	width:100px;
	height:100px;
	margin-right:10px;
}
.red{
	background-color:red;
	width:100px;
	height:100px;
	margin-right:5px;
}
.blue{
	background-color:blue;
	width:100px;
	height:100px;
	magin-right:10px;
}